.board {
  border-style: solid;
  outline: 1px solid rgb(134, 154, 189);
}

.row {
  height: 50px;
}

.cell {
  height: 50px;
  width: 50px;
  outline: 1px solid rgb(134, 154, 189);
  display: inline-block;
}

.cell-snake {
  background-color: chartreuse;
}

.cell-wall {
  background-color: red;
}

.cell-food {
  background-color: magenta;
}
